* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/* ----------| Header |---------- */

header {
	font-family: 'Archivo Narrow', sans-serif;
	background: #E05151;
}


#logo_headline {
	color: #fff;
	font-size: 1em;
	padding: 20px 0;
	width: 70%;
	margin: 0 auto;
}

#logo_headline span {
	position: relative; /* To move it up */
	top: -22px;
}

nav {
	background: #868686;
	border-top: 2px solid #fff;
	padding: 10px 0;
}

nav ul {
	list-style: none;
	width: 70%;
	margin: 0 auto;
	padding-left: 33px;
}

nav li {
	display: inline; /* to make menu horizontal instead of default vertical */
}

nav a {
	text-decoration: none; /* remove undline */
	color: #fff;
	padding: 0 10px;
	font-size: 1.1em;
}

.current, nav a:hover {
	color: #632021;
}

/* ----------| Main Content | Home |---------- */

main {
	width: 70%;
	margin: 40px auto;
	overflow: hidden;
}

.image-block {
	float: left;
	min-width: 450px;
	width: 48%;
	height: 355px;
	margin-bottom: 10px;
}

.image-container [class^="pic"] {
	width: 100%;
	position: absolute;
}

.pic-group {
	bottom: 0;
}

.pic-kids {
	top: -33px;
	width: 120% !important;
}

.image-container {
	height:300px;
	overflow: hidden;
	position: relative;
}

.image-block h2 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.5em;
	padding: 10px 0;
	text-align: center;
	height: 50px;
	color: #424242;
}

.float_r {
	float: right;	
}


/* ----------| Footer |---------- */

footer {
	background: #E05151;
	padding: 20px;
	clear: both;
	text-align: center;
	color: #fff;
}



/* ----------| Added Breakpoints to be more responsive |---------- */
@media (max-width: 1290px) {

#logo_headline, main, nav ul {
	width: 100%;
	clear: both;
}

nav ul {
	padding-left: 17px;
}

}